# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# data/
images/
# *.jpg
*.csv
*.pth
*.tar
*.gz
*.env
*.log
*.txt
*.zip
*.pyc
images*/

*.jpg
articles/
*.ipynb

.DS_Store



